@font-face {
  font-family: 'groote';
  src: url('./fonts/Groote-Regular.otf');
}

@font-face {
  font-family: 'clash';
  src: url('./fonts/ClashGrotesk-Semibold.ttf');
}

@font-face {
  font-family: 'sign';
  src: url('./fonts/signature.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  background-color: #111;
  background: linear-gradient(
    in oklab 90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  background-position: center;
  background-size: cover;

  .container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

    h1 {
      color: white;
      padding-top: 2rem;
      font-size: 4rem;
      font-family: groote;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.514);
      text-align: center;
    }

    p {
      color: white;
      padding-top: 0.5rem;
      font-size: 1.5rem;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.514);
      font-family: clash;
      text-align: center;

      span {
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.514);
        margin-left: 1rem;
        font-size: 3rem;
        font-family: sign;
        color: rgb(255, 232, 25);
      }
    }

    #wins-stars {
      width: 200px;
      font-family: groote;
      color: white;
      font-size: 1.2rem;
      padding-top: 2rem;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.514);

      #stars {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
        img {
          width: 50px;
        }
      }
    }

    #btn {
      text-align: center;
      width: fit-content;
      margin: 0 auto;
      font-size: 1.3rem;
      padding: 20px 50px;
      background-color: rgb(61, 61, 255);
      color: yellow;
      border-radius: 10px;
      border: 2px solid transparent;
      transition: all 0.3s;
      margin-top: 1rem;
      user-select: none;
      border: 2px solid yellow;
    }
    #btn:active {
      scale: 0.9;
    }
  }
}
.hidden {
  opacity: 0;
  // display: none;
}
